.story-main div {
    background-color: #184A45FF;
    width: 200px; 
    flex-grow: 1;
    cursor: pointer;
    min-height: 220px;
    min-width: 100%; 
    object-fit: cover;
    vertical-align: bottom;
    transition: 3s;
    color:white;
    border-radius: 10%;
}

.story-main {
    margin: 3%;
    border-radius: 15px;
}

.story-title {
    font-size:10px;
    padding-top:1%;
    padding-bottom: 1%;
    min-height: 90%;
    margin-bottom: 2px;
}

.story-story {
    font-size:9px;
    height: 150px;
    width: 100%;
    padding: 5%;
    text-align: justify;
    text-justify: inter-word;
    overflow: scroll;
    font-family: 'Texturina';

}