.story-main div {
    background-color: #184A45FF;
    width: 200px; 
    flex-grow: 1;
    cursor: pointer;
    height: 150px;
    min-width: 100%; 
    object-fit: cover;
    vertical-align: bottom;
    transition: 3s;
    font-size:9px;
    border-radius: 5%;;
}

.story-main {
    margin: 3%;
    border-radius: 15px;;
}

.box{
    border:solid 5px #000;
    border-color:#000 transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    height: 5px !important;
    width: 5px !important;
    padding: 0;
    margin: 0;
  }